/* DEMO 3 */

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    /* Styles */
    border-radius: 7px;
    border:0;
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 180%;
    right:-13px;
	width:260px;
    
    /* Styles */
    background: white;
    border-radius: inherit;
    /*border: 1px solid rgba(0,0,0,0.17);*/
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
	z-index:1;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background:none;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}


.top-baar-notification{ margin-bottom:12px; border-radius: 10px; background:#fff; position:relative;}
.top-baar-notification:last-child{ margin-bottom:0;}
.top-baar-notification .user_avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.top-baar-notification .user_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.top-baar-notification .comment_body {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 35px);
    /*min-height: 65px;*/
    /*margin-left: 10px;*/
    padding: 0px 2px 4px 2px;
    font-size: .9rem;
    color: #555;
}
.top-baar-notification:last-child .comment_body{border-bottom:none;}
.top-baar-notification .comment_body p{ margin-bottom:0; font-size:13px; line-height:15px;}
.top-baar-notification .close-btn{ position:absolute; right:-3px; top:-6px; background:#fff; border-radius:50%;}
